---
layout: default
title: home 
---

<div id="main">
    {% for page in paginator.posts %}
        <div class="post">
            <h2 class="entry-title">
                <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>
            </h2>
            <p class="info">
                <span class="dateinfo">{% include post/date.html %} {{ time }}</span>
                <span class="catinfo">分类:<a href="/category.html#{{ page.category }}">{{ page.category }}</a></span>
                <span class="catinfo">标签:{% include post/tags.html %}</a></sapn>
                <span class="cmtinfo"><a href="{{ page.url }}#disqus_thread" title="《{{ page.title }}》上的评论">0</a></span>
            </p>
            <div class="clear"></div>
            <div class="indexentry">
                <div class="post_description">{{ page.description }}</div>
            </div>
            <div class="clear"></div>
        </div>
    {% endfor %}

      <div class="pagination">
        {% if paginator.next_page %}
          <a class="prev" href="/page{{paginator.next_page}}">&larr; Older</a>
        {% endif %}
        <a href="/archives.html">Blog Archives</a>
        {% if paginator.previous_page %}
            {%if paginator.previous_page == 1 %}
                <a class="next" href="/">Newer &rarr;</a>
            {% else %}
                <a class="next" href="/page{{paginator.previous_page}}">Newer &rarr;</a>
            {% endif %}
        {% endif %}
      </div>


</div>


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'pythonandphp'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

<a href="http://webscan.360.cn/index/checkwebsite/url/luchanghong.com"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/179a55b4f250fd164cd2b470594bd01a"/></a>
